:root{
    --vermelho:#E50914;
    --preta:#141414;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/*elementos base*/

body{
    background: var(--preta);
    font-family: 'Arial', Times, serif;
    color: white;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black';
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
}

header nav a:hover{
    color: #fff;
}

/*filme principal*/

.game-principal{
    font-size: 16px;
    /*background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)100%), url('../img/capa-game-detail.jpg');*/
    height: 600px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.game-principal .video{
    width: 1450px;
    height:500px;
}

.game-principal .titulo{
    margin-top: 0%;
    margin-bottom: 3%;
    font-size: 40px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 1400px;
}

.container{
    margin-left: 30px;
}

.game-principal .container{
    width: 70%;
}

.box-game{
    height: 100%;
    width: 100%;
    display: block;
}

.conteudo{
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 50px;
    margin-bottom: 20px;
    
}

.conteudo .container-videos{
    margin-left: 45px;
    
}

.conteudo .videos-mini{
    width:460px;
    height: 315px;
    padding: 20px;
}

.conteudo h1{
    color: red;
    text-align: center;

}

.conteudo h2{
    color: white;
    text-align: center;

}

.conteudo .p{
    margin-right: 50px;
    text-align: justify;
}


/* Start Footer Section */

footer.style-1 {

    padding: 25px 0;
    background: rgba(229, 9, 20, 0.8);
    
}

footer.style-1 .copyright {
    margin-left: 40%;
    text-transform: uppercase;
    text-transform: none;
    color: rgb(255, 255, 255);
}

footer.style-1 .footer-social{
    margin-top: 10px;
    margin-left: 45%;
}

footer.style-1 .footer-social li {
    display: inline;
    padding: 0 10px;
}

footer.style-1 .footer-social li a {
    padding: 8px;
    color: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    
}

footer.style-1 .footer-social li i {
    font-size: 15px;
    width: 20px;
    height: 20px;
}

footer.style-1 .footer-social li:hover a {
    background: #fff;
    color: #666;
}