@media screen and (max-width:700px) {

        header .container{
            display: flex;
            flex-direction: column;
        }

        .botao{
            margin-top: 5px;
            width: 300px;
            
        }

        .game-principal .video{
            width: 600px;
            height:500px;
        }

        .game-principal .titulo{
            margin-top: 5%;
            margin-bottom: 3%;
            margin-left: 76px;
            font-size: 40px;
            text-align: center;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            width: 100%
            ;
        }

        footer.style-1 .footer-social{
            margin-top: 10px;
            margin-left: 45%;
        }
}

@media screen (min-width:1000px){
    .descricao{
        width:50%;
    }
    
}